<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">


<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeScript for the web</title>
</head>
<style>
    .grid-container {
        display: grid;   
        height:  100%;
        background-color: aquamarine;
        grid-template-columns: 100%;
         
    }

    .grid-item { 
        border: 1px solid rgba(0, 0, 0, 0.8); 
        font-size: 30px;
        text-align: center ;  
        display: table-caption;
        background-color: blueviolet;
        overflow-y: hidden;
    }
</style>

<body style="height: 95%; width: 95%;">
    <div id="chartBox" class="grid-container" >
          
    </div> 
</body>

</html>